
header {
    display: flex;
    position: fixed;
    padding: 10px;
    width: calc(100vw - 8em);
    color: white;
    background-color: rgb(55, 115, 168);
    border-radius: 0 0 1em 1em;
    z-index: 2;
    opacity: 0.9;
    box-sizing: border-box;
    justify-content: space-between;
    left: 4em;
    padding-left: 30px; 
    
}

a {
    text-decoration: none;
}
main {
    padding-top: 100px;
    background-color: #FFEFD6;
}
header a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #706759; 
}

#nav-links  {
    list-style-type: none;
    display: flex;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    height: 1.5em;
    margin: 10px 1.5em 0 0;
    font-family: Helvetica, sans-serif;
}

#nav-links li {
    display: inline;
    text-align: right;
    padding: 8px;
}

#logo-image {
    display: flex;
    width: 60px;


}

#school-title {
    text-align: center;
}

#campus-grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.campus-profile img {
    width: 200px;
    margin-left: calc(50% - 100px);
}

.campus-profile {
    flex: 0 0 44%;
    transition: background-color 0.50s ease;
    box-sizing: border-box;
    display: block;
    border: 1px solid purple;
    margin: 3%;
    padding-top: 50px;
    border-radius: 5px;
}
.campus-profile h2 {
    text-align: center;
}

.campus-profile:hover {
    /* background-color: #48A9FF; */
}

th {
    color: black;
}

.campus-profile-link {
    width: 100%;
    height: 100%;
}

#students-table {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#students-table th {
    border-bottom: 1px dashed grey;
    text-align: left;
}

#students-table td {
    padding: 5px;
}

.btn-primary {
    color: #fff;
    text-align: left;
    /* background-color: #007bff; */
    /* border-color: #007bff; */
}