body {
    background-color: #FFEFD6;
}

header {
    display: flex;
    position: fixed;
    padding: 10px;
    width: calc(100vw - 8em);
    color: white;
    background-color: rgb(55, 115, 168);
    border-radius: 0 0 1em 1em;
    z-index: 2;
    opacity: 0.9;
    box-sizing: border-box;
    justify-content: space-between;
    left: 4em;
    padding-left: 30px; 
    
}

#fleet-photo {
    width: 75%;
    margin: auto;
    display: block;
}

a {
    text-decoration: none;
    color: rgb(55, 115, 168);
}
main {
    padding-top: 100px;
}
header a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #706759; 
}

#nav-links  {
    list-style-type: none;
    display: flex;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    height: 1.5em;
    margin: 10px 1.5em 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#nav-links li {
    display: inline;
    text-align: right;
    padding: 8px;
}

#logo-image {
    display: flex;
    width: 60px;
}

#homepage {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed rgb(55, 115, 168);
    padding: 30px;
}

.school-title {
    text-align: center;
    color: rgb(55, 115, 168);
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;

}

#campus-grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.campus-profile-link {
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.campus-profile img {
    max-width: 200px;
    max-height: 120px;
    border-radius: 3px;
    margin-left: calc(50% - 100px);
    margin: 0 auto 70px;
    display: block;
}

.campus-profile h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.campus-profile {
    flex: 0 0 44%;
    transition: background-color 0.50s ease;
    box-sizing: border-box;
    display: block;
    /* border: 8px solid white; */
    margin: 3%;
    border-radius: 5px;
    position: relative;
}
.campus-profile h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.campus-profile:hover {
    background-color: #354451;
}

li {
    font-family: 'Montserrat', sans-serif;
}


th {
    color: black;
}

.campus-name {
    color: rgb(55, 115, 168);
    font-size: 27px;
    font-weight: bold;
}

#students-table {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#campus-img {
    width: 80%;
    margin-top: 20px;
}

#campus-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

#campus-desc {
    font-family: 'Montserrat', sans-serif;
}

#student-page {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

#student-name {
    font-weight: bold;
    color: rgb(55, 115, 168);

}

form {
    width: 80%;
}

textarea {
    height: 100px;
}

table {
    margin-top: 20px;
    
}

#students-table th {
    border-bottom: 1px dashed grey;
    text-align: left;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-collapse:separate;
    
    
}

#students-table td {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

#add-student {
    margin-left: 70%;
}

#two-buttons {
    margin-bottom: 35px;
}

.btn-primary {
    color: #fff;
    text-align: left;
    border-color: rgb(55, 115, 168);
    margin-bottom: 30px;
    font-weight: bold;
}

button {
    color: rgb(55, 115, 168);
    cursor: pointer;
    border-color: rgb(55, 115, 168);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
